.incButton{
    font-size: '60%';
    position : 'relative';
    top: '20vh';
    margin-right: '5px';
    background-color: green;
    border-radius: '8%';
    color: 'white';
  }
  .decButton{
    font-size: '60%';
    position: 'relative';
    top: '20vh';
    margin-left: '5px';
    background-color:red;
    border-radius: '8%';
    color: 'white';
  }